*{
    margin: 0;
    padding: 0;
}
#container{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 800px;
    margin: 0 auto;
    background-color:darkgrey;
}

h3{
    background-color:antiquewhite;
}